.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 800px;
  background-color: #302e54;
}

.login_logo_img {
  width: 250px;
  height: 150px;
}
.login h2 {
  margin-top: 30px;
  font-size: 30px;
  color: #f7f6ff;
}

.login_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  height: 50px;
  width: 50%;
  padding: 20px 0px;
  border-radius: 8px;
  background-color: #026bbc;
  color: white;
  transition: all 0.2 ease-in-out;
}
.login_button:hover,
.login_button:active {
  background-color: #05528c;
}
.login_button_image {
  width: 50px;
  height: 50px;
  background: transparent url("/google.png") 0% 0% no-repeat padding-box;
}
.button_text {
  font-size: 18px;
}
