.message {
  color: #ffffff;
}

.self_message {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.other_message {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.message_text {
  width: auto;
  max-width: 60%;
  height: auto;
  padding: 15px 24px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.self_message_text {
  background-color: #026bbc;
}
.other_message_text {
  background-color: #40406d;
}
.self_message_date {
  font-size: 10px;
  position: absolute;
  right: 5px;
  bottom: 10px;
  color: #dbdada;
}
.other_message_date {
  font-size: 10px;
  position: absolute;
  left: 6px;
  bottom: 11px;
  color: #dbdada;
}
