.message {
  color: #ffffff;
}

.self_message {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.other_message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.message_text {
  width: auto;
  max-width: 60%;
  height: auto;
  padding: 15px 24px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.self_message_text {
  background-color: #026bbc;
}
.other_message_text {
  background-color: #40406d;
}
