.search_div {
  width: 100%;
  display: flex;
  align-items: center;
  background: #1a1a34 0% 0% no-repeat padding-box;
  padding-right: 18px;
}

.search_div input {
  text-indent: 27px;
  width: 376px;
  height: 55px;
  background: #1a1a34 0% 0% no-repeat padding-box;
  border: none;
  font-size: 16px;
  color: #f7f6ff;
}
.search_div input:focus {
  outline: none;
}
.search_div input::placeholder {
  color: #a39fc5;
}
.search_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #026bbc;
}
.search_button_image {
  width: 13px;
  height: 13px;
  background: transparent url("/search.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.search_user {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.search_user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.search_user p {
  padding-left: 11px;
  font-size: 16px;
  color: #f7f6ff;
}

.error_message {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 10px;
  color: #fb3371;
}
