.sidechat {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
  padding-left: 10px;
}

.sidechat:hover,
.sidechat:active {
  background-color: #5a88ce;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.userphoto {
  position: relative;
  display: flex;
}
.status {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #3b3b3b;
  top: 70%;
}

.online {
  background-color: rgb(25, 161, 25);
}
.offline {
  background-color: #ccc;
}

/* Móvil */
@media (max-width: 675px) {
  .sidechat_username {
    display: none;
  }
  /* .sidechat {
    justify-content: center;
  } */
}
