.currentuser {
  width: 404px;
  height: 113px;
  background: #1a1a34 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 0px 10px;
  opacity: 1;
}
.current_user_with_logout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 18px 31px 35px;
}
.currentuser_left {
  display: flex;
  align-items: center;
  column-gap: 22px;
}
.currentuser_left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.currentuser_left p {
  font-size: 18px;
  color: #f7f6ff;
}

.currentuser_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fb3371;
}
.currentuser_button:hover {
  background-color: #c62759;
}
.currenuser_button_image {
  width: 15px;
  height: 15px;
  background: transparent url("/delete.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

@media (max-width: 500px) {
  .currentuser {
    width: auto;
  }
  .current_user_with_logout {
    display: flex;
    align-items: center;
  }
}
