.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 800px;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftSide {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 25%;
  height: 100%;
  background-color: #16386b;
}
.leftSide-top {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid aliceblue;
}
.leftSide-bottom {
  height: auto;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  background-color: #16386b;
}

/* Tablet */
@media (max-width: 935px) {
  .card {
    height: 700px;
    width: 750px;
  }
}
@media (max-height: 935px) {
  .card {
    height: 700px;
    width: 750px;
  }
}

/* Tablet Pequeña / Movil Grande*/
@media (max-width: 775px) {
  .card {
    width: 650px;
  }
}
@media (max-height: 775px) {
  .card {
    height: 650px;
  }
}

/* Móvil */
@media (max-width: 675px) {
  .card {
    width: 550px;
  }
}

@media (max-width: 575px) {
  .card {
    width: 500px;
  }
}
@media (max-width: 515px) {
  .card {
    width: 365px;
  }
}
