@font-face {
  font-family: "Gentium Book Plus";
  src: url("/fonts/GentiumBookPlus-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gentium Book Plus", sans-serif;
}
